:root {
    /* Blue color which is used for back button, like, dislike, search icon, delete and loading icons and for hover */
    --uda-primary-color: #303f9f;
    /* Orange color which is used in play, stop & tooltips */
    --uda-secondary-color: #ff5722;
    /* Background color for search results, detail sequence and search input background*/
    --uda-card-bgcolor: #f2f4fe;
    /* Text color for detail sequence, search results */
    --uda-text-color: #ffffff;
    /* Background color for footer section*/
    --uda-footer-srchbtn-bgcolor: #dce0f7;
    /* Text background color as white */
    --uda-text-color-bg-white: #ffffff;
    /* White Text color */
    --uda-text-color-white: #ffffff;
    /* shadow color used in tooltip box shadow */
    --uda-boxshodow-color: #e0e0e0;
}

.uda-nistapp-logo {
    background-color: var(--uda-text-color-bg-white);
    -webkit-box-shadow: 0 1px 4px var(--uda-boxshodow-color), 0 0 40px var(--uda-boxshodow-color) inset;
    -moz-box-shadow: 0 1px 4px var(--uda-boxshodow-color), 0 0 40px var(--uda-boxshodow-color) inset;
    box-shadow: 0 1px 4px var(--uda-boxshodow-color), 0 0 40px var(--uda-boxshodow-color) inset;
}

.uda-page-right-bar {
    background-color: var(--uda-text-color-bg-white);
    box-shadow: 0 -5px 5px 5px var(--uda-boxshodow-color);
}

.uda-ribbon-arrow {
    background-color: var(--uda-primary-color);
    box-shadow: 0px 1px 7px 2px var(--uda-boxshodow-color);
}

.uda-help-bg-tooltip {
    background-color: var(--uda-secondary-color);
    color: var(--uda-text-color-bg-white);
}

.uda-help-bg-tooltip:after {
    border-right: 16px solid var(--uda-secondary-color);
}
.uda-help-bg-tooltip .uda-help-bg-tooltip-top:after{
    border-color: var(--uda-secondary-color) transparent transparent transparent;
}
.uda-help-bg-tooltip .uda-help-bg-tooltip-bottom:after{
    border-color: transparent transparent var(--uda-secondary-color) transparent;
}
.uda-help-bg-tooltip .uda-help-bg-tooltip-right:after{
    border-color: transparent transparent transparent var(--uda-secondary-color);
}
.uda-search-btn {
    background-color: var(--uda-footer-srchbtn-bgcolor);
}
.uda-mic-btn{
    background-color: var(--uda-footer-srchbtn-bgcolor);
}
.uda-stop-btn-bg{
    background-color: var(--uda-footer-srchbtn-bgcolor);
}
.uda-input-cntrl {
    background-color: var(--uda-card-bgcolor);
}

.uda-card {
    background-color: var(--uda-card-bgcolor);
    box-shadow: 2px 1px 6px 1px var(--uda-boxshodow-color);
}

.uda-card:hover {
    background-color: var(--uda-footer-srchbtn-bgcolor);
}

.uda-card h5:hover {
    color: var(--uda-primary-color);
}

.uda-advanced-btn {
    background-color: var(--uda-text-color-bg-white);
    border: 1px solid var(--uda-primary-color);
    color: var(--uda-primary-color);
}

.uda-advanced-btn-content {
    color: var(--uda-text-color-bg-white);
}

.uda-advanced-btn-content a {
    border-top: 1px solid var(--uda-text-color-bg-white);
    background-color: var(--uda-secondary-color);
}

.uda-advanced-btn-content a:hover {
    background-color: var(--uda-primary-color);
}

.uda-advanced-btn:hover {
    background-color: var(--uda-footer-srchbtn-bgcolor);
}

.uda-footer-right a {
    color: var(--uda-primary-color) !important;
}

.uda-footer-bar {
    background-color: var(--uda-text-color-bg-white);
}


.uda-card-details {
    background-color: var(--uda-card-bgcolor);
    box-shadow: 2px 1px 6px 1px var(--uda-boxshodow-color);
}
.uda-close-icon{
    background-color: var(--uda-primary-color);
    color: var(--uda-text-color-bg-white);
}

.uda-play-btn {
    background-color: var(--uda-secondary-color);
}

.uda-play-btn:hover {
    background-color: var(--uda-primary-color);
}

.uda-play-btn:active {
    background-color: var(--uda-primary-color);
}

.uda-play-btn:disabled {
    background-color: var(--uda-primary-color);
}

.uda-stop-btn {
    background-color: var(--uda-secondary-color);
}

.uda-stop-btn:hover {
    background-color: var(--uda-primary-color);
}

.uda-stop-btn:active {
    background-color: var(--uda-primary-color);
}

.uda-stop-btn:disabled {
    background-color: var(--uda-primary-color);
}

.uda-card-right-dbl-arrow {
    background-color: var(--uda-primary-color);
}

.uda-trash-img, .uda-like-img, .uda-dislike-img {
    border-right: 1px solid var(--uda-footer-srchbtn-bgcolor);
}

.uda-trash-img:hover, .uda-like-img:hover, .uda-dislike-img:hover {
    background-color: var(--uda-footer-srchbtn-bgcolor);
}

.uda-tutorial-btn {
    background-color: var(--uda-primary-color);
    color: var(--uda-text-color-white);
}

.uda-tutorial-btn:hover {
    background-color: var(--uda-secondary-color);
}

.uda-record-btn {
    background-color: var(--uda-secondary-color);
    color: var(--uda-text-color-bg-white);
}

.uda-record-btn:hover {
    background-color: var(--uda-primary-color);
}

.uda-form-input {
    background-color: var(--uda-footer-srchbtn-bgcolor);
}

.uda-no-results {
    box-shadow: 2px 1px 6px 1px var(--uda-boxshodow-color);
}

.uda-no-results p {
    color: var(--uda-secondary-color);
}

.uda-no-src {
    fill: var(--uda-primary-color);
}

.uda-tooltip .uda-tooltip-right {
    color: var(--uda-primary-color);
    background-color: var(--uda-card-bgcolor);
    box-shadow:0 1px 16px var(--uda-boxshodow-color);
    /*color: var(--uda-text-color-bg-white);*/
    /*background-color: var(--uda-secondary-color);*/
}
.uda-tooltip .uda-tooltip-right::before{
    border-color: transparent var(--uda-footer-srchbtn-bgcolor) transparent transparent;
}

/*.uda-tooltip .uda-tooltip-right i::after {
    background-color:#444444;
}*/

.uda-tooltip .uda-tooltip-right .uda-tutorial-btn:hover {
    background-color: var(--uda-primary-color);
}

/*Intro Js tooltips*/
.introjs-tooltip {
    background-color: var(--uda-card-bgcolor) !important;
    color: var(--uda-primary-color) !important;
}

.introjs-arrow.left, .introjs-arrow.left-bottom {
    border-color: transparent var(--uda-footer-srchbtn-bgcolor) transparent transparent !important;
}
