:root {
  --primary-color: #303f9f;
  --secondary-color: #ff5722;
  --card-bgcolor: #f2f4fe;
  --text-color: #000;
  --footer-srchbtn-bgcolor: #dce0f7;
  --text-color-bg-white: #fff;
  --boxshodow-color: #e0e0e0;
}
/*nistapp UDA in page*/
.uda-nistapp-logo {
    background-color: var(--text-color-bg-white);
}
.uda-page-right-bar { 
    background-color: var(--text-color-bg-white);
    box-shadow: 0 -5px 5px 5px var(--boxshodow-color);
}
/* toggle button */
.uda-ribbon-arrow {
    background-color: var(--primary-color);
}
/* tooletip for nistapp logo */
.uda-help-bg-tooltip {
    background-color: var(--card-bgcolor);   
    color: var(--primary-color);
}

.uda-help-bg-tooltip:after {
    border-right: 16px solid var(--secondary-color);
}
.uda-help-bg-tooltip .uda-help-bg-tooltip-top:after{
  border-color: var(--secondary-color) transparent transparent transparent;
}
.uda-help-bg-tooltip .uda-help-bg-tooltip-bottom:after{
  border-color: transparent transparent var(--secondary-color) transparent;
}
.uda-help-bg-tooltip .uda-help-bg-tooltip-right:after{
  border-color: transparent transparent transparent var(--secondary-color);
}
/* search icon with button */
.uda-search-btn {
    background-color: var(--footer-srchbtn-bgcolor);
}
/* input after search icon*/
.uda-input-cntrl {
    background-color: var(--card-bgcolor);
}
/* card for search results*/
.uda-card {
    background-color: var(--card-bgcolor);
}

.uda-card:hover {
    background-color: var(--footer-srchbtn-bgcolor);
}

.uda-card h5:hover {
    color: var(--primary-color);
}
/* footer advanced dropdown button*/
.uda-advanced-btn {
    background-color: var(--text-color-bg-white);
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
}

.uda-advanced-btn-content {
    color: var(--text-color-white); 
}

.uda-advanced-btn-content a {
    border-top: 1px solid var(--text-color-bg-white);
    background-color: var(--secondary-color);
}

.uda-advanced-btn-content a:hover {
    background-color: var(--primary-color);
}


.uda-advanced-btn:hover {
    background-color: var(--footer-srchbtn-bgcolor);
}


.uda-footer-right a {
    color: var(--primary-color);
}

.uda-footer-bar {
    background-color: var(--text-color-bg-white);
}

/* card details page cards*/
.uda-card-details {
    background-color: var(--card-bgcolor);
}

/* play button in card details page*/
.uda-play-btn {
    background-color: var(--secondary-color);
}

.uda-play-btn:hover {
    background-color: var(--primary-color);
}

.uda-play-btn:active {
    background-color: var(--primary-color);
}

.uda-play-btn:disabled {
    background-color: var(--primary-color);
}
/* stop button in card details page*/
.uda-stop-btn {
    background-color: var(--secondary-color);
}

.uda-stop-btn:hover {
    background-color: var(--primary-color);
}

.uda-stop-btn:active {
    background-color: var(--primary-color);
}

.uda-stop-btn:disabled {
    background-color: var(--primary-color);
}
/* right arrow card details page*/
.uda-card-right-dbl-arrow {
    background-color: var(--primary-color);
}
/* before record the sequece shown card with text*/
.uda-recording {
    list-style: none url('../images/icons/bullet.png');
}

/* getting space in recorded list*/
.uda-suggestion-list li::before {
    content: '\00a0 \00a0 \00a0 \00a0';
}
/* After completed the step green icon display*/
.uda-suggestion-list li.completed::before {
    background-image: url('../images/icons/bullet.png');
}
/* when before goind to the list loading icon display */
.uda-suggestion-list li.loading::before {
    background-image: url('../images/icons/uda-loading.gif');
}
/* card details footer included trash like and dislikeimages */
.uda-details-footer {
    background-color: var(--footer-srchbtn-bgcolor);
}

.uda-trash-img:hover, .uda-like-img:hover, .uda-dislike-img:hover {
    background-color: var(--footer-srchbtn-bgcolor);
}
/* when we click on the new record option shown tutorial and record button*/
.uda-tutorial-btn {
    background-color: var(--primary-color);
    color: var(--text-color-white);
}

.uda-tutorial-btn:hover {
    background-color: var(--secondary-color);
}

.uda-record-btn {
    background-color: var(--secondary-color);
}

.uda-record-btn:hover {
    background-color: var(--primary-color);
}
/* saving record with name in input field */
.uda-form-input {
    background-color: var(--footer-srchbtn-bgcolor);
}
.uda-no-results {
    background-color: var(--card-bgcolor);
}

.uda-no-results p {
    color: var(--secondary-color);
}

.uda-no-src {
    fill: var(--primary-color);
}

/* tooltip for vantage circle UI */
.uda-tooltip .uda-tooltip-right {
    color:var(--text-color-bg-white);
    background-color:var(--secondary-color);
}
.uda-tooltip .uda-tooltip-right::before{
    border-color: transparent var(--secondary-color) transparent transparent;
}

/*.uda-tooltip .uda-tooltip-right i::after {
    background-color:#444444;
}*/

.uda-tooltip .uda-tooltip-right .uda-tutorial-btn:hover {
    background-color: var(--primary-color);
}