.uda-original-content .kt-header,.uda-original-content .kt-header--fixed{
	max-width: 77%;
}
.duration-picker .pick{
	position: relative;
	overflow:inherit !important;
}
.duration-picker .pick input{
	border:1px solid #e2e5ec !important;
}
