.voice-redmine-rght{
	position:fixed;
	top:0px;
	right: 0px;
	bottom: 0px;
}
.nist-original-content{
	max-width: 80%;
	float: left;
}
.nist-original-content .kt-header,.nist-original-content .kt-header--fixed{
	max-width: 80%;
}
.duration-picker .pick{
	position: relative;
	overflow:inherit !important;
}
.duration-picker .pick input{
	border:1px solid #e2e5ec !important;
}
