/* The Modal (background) */
#original-content{
	/*overflow: auto;*/
}

#nist-steps-content{

}
#nistBtn{
	width:50px;
	position: fixed;
	right: 10%;
	top: 0px;
	right: 0px;
	z-index: 9999;
	cursor: pointer;
	cursor: hand;
}
.voice-redmine-rght{
	width: 20%;
	float: right;
	background: #fff;
	box-shadow: 0 -6px 6px 6px #949292;
	min-height: 100vh;
	max-height: 100vh;
	/*height: auto !important;*/
	z-index: 9999;
	overflow: hidden;
}
.voice-hng-left{
	width: 80%;
	float: left;
	padding-top: 15px;
}
.voice-hng-left h3{
	color: #6200be;
	padding-left: 25px;
}
.voice-hng-right{
	width: 20%;
	float: right;
	cursor: pointer;
}
.voice-red-hr-line{
	width: 100%;
	/*height: 35px;*/
	border-bottom: 2px solid #6200be;
	margin: 13px 0px;
}
.voice-suggesion-lbl{
	border: 1px solid #6200be;
	background: #fff;
	padding: 5px 20px;
	font-size: 14px;
	margin: 5px;
	color: #7F7F7F;
	border-radius: 5px;
	cursor: pointer;
}
.voice-card-left img{
	cursor: pointer;
}
.voice-back-btn{
	float: left;
	width: 40%;
}
.voice-feedback-btns{
	float: right;
	width: 60%;
	text-align: right;
}
.voice-suggesion-lbl:hover{
	color: #000;
}
.voice-srch-bg{
	background: #6200be;
	padding: 10px 0px;
	margin: 10px auto;
	text-align: center;
}
.voice-srch-fld{
	width: 80%;
	height: 40px;
	border-radius: 5px;
	border: none;
	padding-left: 40px;
}
.voice-srch{
	position: relative;
	left: 30px;
	cursor: pointer;
	top:5px;
}
.voice-voice-srch{
	position: relative;
	left: -30px;
	cursor: pointer;
	top:5px;
}
#nistvoicesearchresults{
	/*min-height: calc(100% - 25vh);*/
	/*max-height: calc(100% - 25vh);*/
	min-height: 75vh;
	max-height: 75vh;
	overflow-y: scroll !important;
	margin-top: 5px;
}
.voice-sugtns-list{
	padding-left: 30px;
	border-bottom: 1px solid #F2F2F2;
	margin-top: 5px;
}
.voice-sugtns-list p{
	font-size: 13px;
	color: #7F7F7F;
	padding-bottom: 10px;
	white-space: nowrap;
	width: 300px;
	overflow: hidden;
	text-overflow: "----";
}
.voice-sugtns-list h4, .voice-sugtns-list a{
	padding-top: 10px;
	color: #333333;
	/*white-space: nowrap;*/
	width: 300px;
	overflow: hidden;
	/*text-overflow: "----";*/
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 3;
}
.voice-sugtns-list:hover{
	background: #FAFAFA;
	box-shadow: 2px 1px 4px 4px #a6a6a6;
	cursor: pointer;
}

.voice-suggesion-card{
	background: #FAFAFA;
	box-shadow: 2px 1px 4px 4px #a6a6a6;
	width: 95%;
	margin: 10px 0px 10px 10px;
	height: auto !important;
	padding: 5px 0px;
}
.voice-card-left{
	width: 100%;
	height: auto;
}
.voice-card-left h4{
	color: #333333;
	padding-left: 20px;
	padding-bottom: 15px;
	/*margin-top: 20px;*/
	text-align: center;
	font-size: 16px;
}
.voice-card-right{
	width: 10%;
	float: right;
	background: #fff;
}

.voice-sugggesion-bullet li{
	position: relative;
	list-style-type: none;
	padding: 10px 0px 0px 0px;
	color: #7F7F7F;
	font-size: 14px;
	cursor: pointer;
	/*padding-top: 10px;*/
	/*overflow-wrap: break-word;
	word-wrap: break-word;*/
	white-space: nowrap;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 1;
}
.voice-sugggesion-bullet{
	max-width: 85%;
	overflow: hidden;
}
.voice-sugggesion-bullet li:before{
	content: "";
	position: absolute;
	top: 0px;
	left: -25px;
	width: 25px;
	height: 25px;
	/*background-image: url('../assets/voice-forward.png');*/
}

.voice-sugggesion-bullet li:after{

}
.voice-sugggesion-bullet li.active:before{
	content: "";
	position: absolute;
	top: 5px;
	left: -25px;
	width: 25px;
	height: 25px;
	background-image: url('../assets/voice-bullet.png');
}
.voice-sugggesion-bullet li.active{

}
.voice-delete-violet, .voice-like-violet, .voice-dislike-violet{
	/*padding: 10px 0px;*/
	cursor: pointer;
	display: inline-block;
}
.voice-delete-violet:hover{
	background: #6200be;
	content: url('../assets/voice-delete-white.png');
}
.voice-like-violet:hover{
	background: #6200be;
	content: url('../assets/voice-like-white.png');
}
.voice-dislike-violet:hover{  background: #6200be;
	content: url('../assets/voice-dislike-white.png');
}
.voice-dropdown {
	position: relative;
	display: inline-block;
}
.voice-advc-link {
	color: #6200be;
	text-decoration: underline;
	padding: 5px 16px;
	font-weight: bold;
	cursor: pointer;
}

.voice-record-img {
	/*position: absolute;
	right: 0;*/
	background: #FAFAFA;
	min-width: 80px;
	box-shadow: 2px 1px 4px 4px #a6a6a6;
	z-index: 1;
	padding: 10px 0px;
	border: none;
	cursor: pointer;
	/*margin-right: 10px;
	display: none;*/
	/*left: -160%;*/
	float: right;
	display: block;
	margin-right: 20px;
}
.voice-record-img span{
	color: #6200be;
	font-size: 16px;
	font-weight: bold;
}
.voice-dropdown:hover .voice-record-img {
	display: block;
}
.voice-save-recrded-inpt{
	background: #fff;
	height: 30px;
	border: none;
	box-shadow: 2px 1px 4px 4px #a6a6a6;
	width: 80%;
	margin-left: 20px;
	margin-top: 10px;
	padding-left: 20px;
}
.voice-cancel-btn{
	background: #A30014;
	border-radius: 5px;
	color: #fff;
	padding: 7px 15px;
	font-size: 14px;
	font-weight: bold;
	margin-left: 20px;
	border: none;
	cursor: pointer;
}
.voice-cancel-btn:hover{
	background: #bd031a;
}
.voice-submit-btn{
	background: #6200BE;
	border-radius: 5px;
	color: #fff;
	padding: 7px 15px;
	font-size: 14px;
	font-weight: bold;
	margin: 15px 0px;
	border: none;
	cursor: pointer;
}
.voice-submit-btn:hover{
	background: #6f03d4;
}
.voice-autoplay-stop{
	width: 100%;
	text-align: center;
}
.voice-autoplay-stop img{
	cursor: pointer;
}
.nist-clear {
	clear: both;
}
.voice-modalback-btn img{
	cursor: pointer;
}
.name-heading{
	padding-left: 10px;
}
.voice-modal-btn{
	cursor: pointer;
}

h4.voice-card-noborder {
	color: #333333;
	padding-left: 20px;
	text-align: center;
	font-size: 16px;
	border: none !important;
	padding-bottom: 0px !important;
}


/* tooltip css classes */
.uda-tooltip {
	display:inline-block;
	position:relative;
	border-bottom:1px dotted #666;
	text-align:left;
}

.uda-tooltip h3 {margin:12px 0;}

.uda-tooltip .uda-tooltip-right {
	min-width:200px;
	max-width:400px;
	top:50%;
	left:100%;
	margin-left:20px;
	transform:translate(0, -50%);
	padding:0;
	color:#EEEEEE;
	background-color:#444444;
	font-weight:normal;
	font-size:13px;
	border-radius:8px;
	position:absolute;
	z-index:99999999;
	box-sizing:border-box;
	box-shadow:0 1px 8px rgba(0,0,0,0.5);
	visibility:hidden; opacity:0; transition:opacity 0.8s;
}

.uda-tooltip .uda-tooltip-right {
	visibility:visible; opacity:1;
}

.uda-tooltip .uda-tooltip-right img {
	width:400px;
	border-radius:8px 8px 0 0;
}
.uda-tooltip .uda-tooltip-text-content {
	padding:10px 20px;
	white-space: initial;
	line-height: normal !important;
}

.uda-tooltip .uda-tooltip-right i {
	position:absolute;
	top:50%;
	right:100%;
	margin-top:-12px;
	width:12px;
	height:24px;
	overflow:hidden;
}
.uda-tooltip .uda-tooltip-right i::after {
	content:'';
	position:absolute;
	width:12px;
	height:12px;
	left:0;
	top:50%;
	transform:translate(50%,-50%) rotate(-45deg);
	background-color:#444444;
	box-shadow:0 1px 8px rgba(0,0,0,0.5);
}
