header.uda-original-content {
    max-width: 77%;
}
.uda-original-content nav, .modal-overlay.uda-original-content {
    width: 77%;
}
.drag-target.uda-original-content {
    display: none;
}
.uda-original-content .main-heading.nav-wrappe, .uda-original-content .main-heading.nav-wrapper {
    width: 77vw !important;
}
.uda-original-content #modal_self_assessment {
    width: 50% !important;
}
