.uda-original-content .navbar-fixed-top{
	max-width: 77%;
}
.uda-original-content .vc_topbar{
	max-width: 77%;
}
.uib-datepicker-popup.dropdown-menu {
    position: absolute;
    z-index: 9999999 !important;
}
