.uda-original-content .kt-header,.uda-original-content .kt-header--fixed{
	max-width: 77%;
}
.duration-picker .pick{
	position: relative;
	overflow:inherit !important;
}
.duration-picker .pick input{
	border:1px solid #e2e5ec !important;
}

kt-base.ng-star-inserted.uda-original-content {
	max-width: 77% !important;
}

kt-base.uda-original-content {
	max-width: 99% !important;
}
